* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: monospace;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1em 0 1em;
    border-bottom: 1px solid black;
}

header h2 {
    border: solid 1px black;
    border-radius: 4px;
    padding: 0.5em 1em 0.5em 1em;
}